<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar node js dengan express dan tempat ejs</title>
  </head>
  <body>
    <p>Nama saya : <%= name %></p>
    <p>Umur saya : <%= umur %></p>

    <% for(let i=0; i < buah.length; i++) {%>
    <p><%= buah[i].name %></p>
    <% } %>
  </body>
</html>
